.login-area {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
  cursor: pointer;
}

.login-button{
  margin: 10px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.search-input {
  position: relative;
  bottom: 10px;
  padding: 20px;
}

.input-area {
  border: none;
  width: 200px;
  height: 25px;
  padding-left: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.search-icon {
  position: relative;
  left: 20px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}